:root {
	// Site colors (Кольори сайту):
	// =================================================================
	--primary: #646D70; // Site main color - (Основний колір сайту)
	--secondary: #FFF; // Site secondary color - (Додатковий колір сайту)
	--accent:  #222F33; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
	// =================================================================
}